<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :ip %>
    <%= f.text_field :ip %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary btn-large" %>
  </div>
<% end %>
