<article class="device-list-item" id="<%= device.id %>">
    <div class="inner">

      <header class="device-header">
        <h3 class="device-title"><%= device.nickname %></h3>
    
        <p>Model: <%= device.model %></p>
        <p>Ip: <%= device.ip %></p>
      </header>

      <div class="device-body">

        <ul class="device-readings half-column">
        </ul>

        <ul class="device-tasks half-column">
        </ul>

      </div>

      <footer class="device-footer">

        <%= link_to "", :rel => "tooltip", :title => "Refresh", :class => "fleft" do %>
          <i class="icon-refresh"></i>
        <% end %>

        <button class="btn center-block">Control (Coming soon)</button>

        <%= link_to edit_device_path(device), :rel => "tooltip", :title => "Edit", :class => "fright" do %>
          <i class="icon-pencil"></i>
          <span>Edit</span>  
        <% end %>

      </footer>

    </div>
  </article>