<div class="device-list">
  <% @devices.each do |device| %>
  <article class="device-list-item">
  
    <div class="inner">
      <div class="device-info">
        <h3><%= link_to device.nickname, device %></h3>

        <%= link_to raw("<div class='device-image'></div>"), device %>
          
        <p>
          <b>Model:</b>
          <%= device.model %>
        </p>
        
        <p>
          <b>Ip:</b>
          <%= device.ip %>
        </p>
      </div>
      <footer class="device-buttons">
        <%= link_to raw('<i class="icon-pencil"></i>'), edit_device_path(device) %>
        <%= link_to raw('<i class="icon-eye-open"></i>'), device %>
      </footer>
    </div>
  
  </article>
  <% end %>
</div>
