<div class="row">
  <% @devices.each do |device| %>
  <div class="span4 device-list">

    <h3><%= device.nickname %></h3>
      
    <p>
      <b>Model:</b>
      <%= device.model %>
    </p>
    
    <p>
      <b>Ip:</b>
      <%= device.ip %>
    </p>
    
    <p>
      <%= link_to 'Edit', edit_device_path(device), :class => "btn" %>
      <%= link_to 'Show', device, :class => "btn" %>
    </p>

  </div>
  <% end %>
</div>
