<section class="container">
	<p id="notice"><%= notice %></p>
	
	<p>
	  <b>Id:</b>
	  <%= @device.id %>
	</p>
	
	<p>
	  <b>Nickname:</b>
	  <%= @device.nickname %>
	</p>
	
	<p>
	  <b>Model:</b>
	  <%= @device.model %>
	</p>
	
	<p>
	  <b>Ip:</b>
	  <%= @device.ip %>
	</p>

	<h3>Tasks:</h3>
	<p>No tasks for this device yet.</p>
	
	<%= link_to 'Edit', edit_device_path(@device), :class => "btn" %>
	<%= link_to 'Back', "/", :class => "btn" %>
</section>
