<p id="notice"><%= notice %></p>

<p>
  <b>Nickname:</b>
  <%= @device.nickname %>
</p>

<p>
  <b>Model:</b>
  <%= @device.model %>
</p>

<p>
  <b>Ip:</b>
  <%= @device.ip %>
</p>
<% @action_replies.each do |name, reply|%>
	<%= name %>: <%= reply.html_safe %><br />
<% end %>
<h3>Tasks: <%= link_to 'Schedule Task', new_device_task_path(@device), :class => "btn" %></h3>
<% @device.tasks.each do |task| %>
	<% sleep(1) %>
	<p>
		<%= task.name %> -
		<%= task.frequency %> -
		<%= task.action_type.name %>
		<%= link_to 'Edit Task', edit_polymorphic_path([@device, task]), :class => "btn"%>
	</p>
<% end %>
<div class="device-actions">
	<%= link_to raw('<i class="icon-home"></i>'), "/", :class => "btn" %>
	<%= link_to raw('<i class="icon-pencil"></i>'), edit_device_path(@device), :class => "btn" %>
	<%= link_to raw('<i class="icon-remove"></i>'), @device, method: :delete,
	data: { confirm: 'Are you sure you want to delete this device?' }, :class=>"btn btn-danger" %>
</div>

